container_commands:
 "1-install-composer":
   command: "cd /var/app/ondeck/webroot; curl -s http://getcomposer.org/installer | php"
 "2-install-dependencies":
   command: "cd /var/app/ondeck/webroot; php composer.phar install"
 "3-cleanup-composer":
   command: "rm -Rf /var/app/ondeck/webroot/composer.*"