
ul, ol {
    list-style-position: inside;
    padding: 0;
    margin: 1em 0;
}
ul {
    list-style-type: square;
}
ul ul,
ul ol,
ol ol,
ol ul {
    margin-top: 0;
    padding: 0 0 0 16px;
    padding: 0 0 0 1rem;
}
ul ul {
    list-style-type: disc;
}
ol ol {
    list-style-type: lower-alpha;
}
.list--unstyled {
    margin: 0;
    padding: 0;
    list-style: none;
}
.list--inline,
.list--piped {
    padding: 0;
    list-style: none;
    display: inline;
    li {
        display: inline;
    }
}
.list--piped li:before {
    content: " | ";
    margin-right: $spacing-unit-half;
    margin-left: $spacing-unit-half;
}
.list--piped li:first-child:before {
    content: "";
    margin-right: 0;
    margin-left: 0;
}