$body-color: #fff;
$text-color: #334;

$link-color: #1678f7;
$link-visited: #1563c8;

$highlight-color: #CDD1B6;
$comp-color: #c88715;

$spacing-unit: 24px;
$spacing-unit-half: 12px;
$spacing-unit-mini: 6px;

$base-font-size: 16;

$heading-font-family: sans-serif;